body{
	background: url("../images/design/Background.png") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
 	text-align: center;
 	padding: 0;
 	margin: 0;
}

#head #head-div div{
	display: inline;
}

#head #head-div{
	background: url("../images/design/Nav bar.png");
	padding:2%;
}

#selected a{
	background-color: gray;
}

#head a, #head a:hover, #head a:visited, #head a:link{
	text-decoration:none;
	color: #2B2B2B;
	font-size: 25px;
	padding: 0.9%;
	border-radius: 0.5em;
}

.n-selected a:hover{
	background-color: #BFBFBF;
	
}

.content{
	background-color: gray;
	max-width: 80em;
	padding: 1em;
	margin: 2em auto 0 auto;
	border-radius: 1em;
}

.medlemmer{
	background-color: gray;
	max-width: 22em;
	padding: 1em;
	margin: 2em 1em 0 1em;
	border-radius: 1em;
	display: inline-block;
}

.medlemmer img{
	max-width: 15em;
	border-radius: 1em;
	margin: -0.2em auto 0 auto;
	border: solid;
}

.medlemmer a, .medlemmer a:hover, .medlemmer a:visited, .medlemmer a:link{
	text-decoration: none;
	color: black;
}

#tab {
	background: url("../images/design/Nav bar.png");
	height: 2.3em;
	width: 100%;
	position: fixed;
    bottom: 0;
    text-align: left;
    opacity: 0.4;
	
}

