body{
	background: url("../images/Background.png") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
 	text-align: center;
}

#head #head-div div{
	display: inline;
}

#head #head-div, #tab{
	background: url("../images/Nav bar.png");
	padding:2%;
	border-radius: 10px;
}

#selected a{
	background-color: gray;
}

#head a, #head a:hover, #head a:visited, #head a:link{
	text-decoration:none;
	color: #2B2B2B;
	font-size: 25px;
	padding: 0.9%;
	border-radius: 10px;
}

.n-selected a:hover{
	background-color: #BFBFBF;
	
}

.content{
	background-color: gray;
	max-width: 80%;
	padding: 2%;
	margin: 30px auto 0 auto;
	border-radius: 10px;

}

.medlemmer{
	background-color: gray;
	max-width: 18%;
	max-width: 150px;
	padding: 2%;
	margin: auto auto auto auto;
	border-radius: 10px;
	display: inline-block;

}

.medlemmer img{
	max-width: 100%;
	max-height: 95%;
	border-radius: 10px;
}

#tab {
	margin-top:10%;
}